* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header.header {
	background-color: gray;

	div {
		margin: 10px 0;
		height: 100%;
	}

	ul {
		height: 100%;
		margin: 10px 0;
		list-style: none;
		text-align: right;

		li {
			display: inline;
			margin-right: 10px;
		}
	}
}

section.search_section {
	margin-top: 15%;
	
	ul {
		list-style:none;
		text-align:right;

		li {
			display:inline;
		}
	}

	div {
		input.search_input {
			border-radius: 5px;
		}
	}
}

footer.footer {
	position:fixed;
	bottom:0px;
	background-color: #e3e5e7;
		
	p.copyright {
		text-align:center;
	}
	
	p.powered {
		text-align:center;
	}
}
