* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header.header {
	position: absolute;
	top: 0;
	background-color: gray;

	div {
		margin: 10px 0;
		cursor: pointer;
		/*height: 100%;*/
		a {
			color: #333;
			text-decoration: none;
		}
		a:hover {
			color: #232323;
		}
	}

	ul {
		height: 100%;
		margin: 10px 0;
		list-style: none;
		text-align: right;

		li {
			display: inline;
			margin-right: 10px;

			a {
				margin: 0 10px;
				text-decoration: none;
				color: #4f4f4f;
				cursor: pointer;
			}
			a:hover {
				color: #333;
			}
		}
	}
}

#sign_up_modal,
#sign_in_modal,
#sign_out_modal {

	.modal-dialog {
		width: 60%;
		margin: 0 20%;
	}

	.modal-body {

		.form-group {
			position: relative;
			margin-bottom: 30px;
		}

		.form_message {
			margin-top: 5px;
			line-height: 8px;
			color: red;
			display: none;
		}
	}

	.modal-header {
		text-align: center;
	}

}

section.search_section {
	margin-top: 15%;
	
	ul {
		list-style:none;
		text-align:right;

		li {
			display:inline;
		}
	}

	div {
		input.search_input {
			border-radius: 5px;
			margin: 3%;
		}
	}
}

div .nav_placeholder {
	margin-top: 10%;

	p,a {
		margin: 3%;
	}
}

footer.footer {
	position:fixed;
	bottom:0px;
	background-color: #e3e5e7;
		
	p.copyright {
		text-align:center;
	}
	
	p.powered {
		text-align:center;
	}
}
